<!DOCTYPE html>
<html>
    <head>
        <link href="styles/main.css" rel="stylesheet" type="text/css" />
        <link href="favicon.svg" rel="icon" sizes="any" type="image/svg+xml" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet" />
        <title>Textos generados</title>
        <style>
            h2 {
                margin: 1em 0 1em 0;
                display: block;
            }
            .text-item {
                .date {
                    font-size: 0.6em;
                    color: #555;
                }
            }
        </style>
    </head>
    <body class="roboto-flex-mod">
        <div class="top-header">
            <h1 class="oswald-mod">Textos generados</h1>
        </div> 
        <div class="page-content">
                <div class="header oswald-mod">
                    <h2>¡Bienvenido!</h2>
                </div>
                Aquí encontrará textos para leer en español de diferentes niveles.
                <!--- TEXTS_LIST --->
            </div>
        </div>
    </body>
</html>