<!DOCTYPE html>
<html>
    <head>
        <link href="../styles/main.css" rel="stylesheet" type="text/css" />
        <link href="../favicon.svg" rel="icon" sizes="any" type="image/svg+xml" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet" />
        <script src="../scripts/utils.js"></script>
        <script src="../scripts/text.js"></script>
        <script src="../scripts/handlers.js"></script>
        <title>Textos generados</title>
        <style>
            .top-menu {
                .navigation {
                    width: 80%;
                    margin: auto;
                    padding: 0.4em;
                }
            }
        </style>
    </head>
    <body class="roboto-flex-mod">
        <div class="top-header">
            <h1 class="oswald-mod">Textos generados</h1>
        </div>
        <div class="top-menu">
            <div class="navigation">
                <a href="../index.html">&larr; Volver</a>
            </div>
        </div>
        <div class="page-content">
            <div id="generatedText">
                <!--- TEXT --->
            </div>
        </div>
    </body>
</html>